USE [ALUMINI_INTERN]
GO
/****** Object:  Table [dbo].[AlumniData]    Script Date: 16/07/2021 11:19:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumniData](
	[id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[dob] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[parent_mobile] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[email] [nvarchar](50) NULL,
	[year] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chat]    Script Date: 16/07/2021 11:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[post] [nvarchar](max) NULL,
	[username_from] [nvarchar](max) NULL,
	[username_to] [nvarchar](max) NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DocTypes]    Script Date: 16/07/2021 11:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocTypes](
	[DocType] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Documents]    Script Date: 16/07/2021 11:19:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[owner] [nvarchar](50) NULL,
	[filename] [nvarchar](50) NULL,
	[doctype] [nvarchar](50) NULL,
	[title] [nvarchar](50) NULL,
	[details] [nvarchar](50) NULL,
	[accesstype] [nvarchar](50) NULL,
	[UploadDate] [datetime] NULL,
	[hitcount] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Friends]    Script Date: 16/07/2021 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[FriendID] [nvarchar](50) NULL,
	[UserID] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 16/07/2021 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] NOT NULL,
	[Post_Photo] [nvarchar](max) NULL,
	[UserID] [nvarchar](50) NULL,
	[regdate] [datetime] NULL,
	[accesstype] [nvarchar](50) NULL,
	[vcount] [int] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostCalc]    Script Date: 16/07/2021 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCalc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[like_status] [int] NULL,
	[dislike_status] [int] NULL,
	[username] [nvarchar](50) NULL,
	[comment] [nvarchar](50) NULL,
 CONSTRAINT [PK_PostCalc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Request]    Script Date: 16/07/2021 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[ReqID] [int] IDENTITY(1,1) NOT NULL,
	[ReqFrom] [nvarchar](50) NULL,
	[reqto] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SafeMode]    Script Date: 16/07/2021 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SafeMode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_SafeMode] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Share]    Script Date: 16/07/2021 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userfrom] [nvarchar](50) NULL,
	[userto] [nvarchar](50) NULL,
	[report] [nvarchar](50) NULL,
	[ddate] [nvarchar](50) NULL,
	[docid] [int] NULL,
 CONSTRAINT [PK_Share] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 16/07/2021 11:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[Pwd] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[College] [nvarchar](50) NULL,
	[Branch] [nvarchar](50) NULL,
	[Year] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[BirthDate] [nvarchar](50) NULL,
	[PhotoFile] [nvarchar](50) NULL,
	[EmailID] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[que] [nvarchar](max) NULL,
	[ans] [nvarchar](max) NULL,
	[usertype] [nvarchar](50) NULL,
	[company] [nvarchar](max) NULL,
	[post] [nvarchar](50) NULL,
	[tech] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WordDatax]    Script Date: 16/07/2021 11:19:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordDatax](
	[word] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[DocTypes] ([DocType]) VALUES (N'DIC')
INSERT [dbo].[DocTypes] ([DocType]) VALUES (N'DOS')
INSERT [dbo].[DocTypes] ([DocType]) VALUES (N'JAVA')
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocID], [owner], [filename], [doctype], [title], [details], [accesstype], [UploadDate], [hitcount]) VALUES (1, N'amit', N'e-paper.png', N'e-books', N'Wordpress steps', N'cms steps', N'public', CAST(N'2019-04-30T18:16:31.000' AS DateTime), NULL)
INSERT [dbo].[Documents] ([DocID], [owner], [filename], [doctype], [title], [details], [accesstype], [UploadDate], [hitcount]) VALUES (2, N'amit', N'BIG_DATA Latest.docx', N'notes', N'Big Data', N'Big data', N'public', CAST(N'2019-04-30T18:19:02.000' AS DateTime), NULL)
INSERT [dbo].[Documents] ([DocID], [owner], [filename], [doctype], [title], [details], [accesstype], [UploadDate], [hitcount]) VALUES (3, N'amits', N'datamining.docx', N'notes', N'Data mining ', N'Algorithm of data mining', N'public', CAST(N'2020-06-27T17:13:30.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Documents] OFF
INSERT [dbo].[Friends] ([FriendID], [UserID]) VALUES (N'aditi', N'amit')
INSERT [dbo].[Friends] ([FriendID], [UserID]) VALUES (N'amit', N'aditi')
INSERT [dbo].[Friends] ([FriendID], [UserID]) VALUES (N'amits', N'varsha')
SET IDENTITY_INSERT [dbo].[Share] ON 

INSERT [dbo].[Share] ([id], [userfrom], [userto], [report], [ddate], [docid]) VALUES (1, N'amit', N'aditi', N'Users/amit/Documents/e-paper.png', N'30/04/2019 6:17:40 PM', NULL)
INSERT [dbo].[Share] ([id], [userfrom], [userto], [report], [ddate], [docid]) VALUES (2, N'amit', N'neha', N'Users/amit/Documents/e-paper.png', N'16/09/2020 1:28:31 PM', NULL)
SET IDENTITY_INSERT [dbo].[Share] OFF
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([id], [UserID], [Pwd], [Name], [Address], [City], [College], [Branch], [Year], [Gender], [BirthDate], [PhotoFile], [EmailID], [ContactNo], [que], [ans], [usertype], [company], [post], [tech]) VALUES (1, N'amit', N'amit123', N'Amit Sawant', N'Rathi Nagr', N'Amravati', N'SGGIS', N'Computer', N'Passout', N'Male', N'01/02/1994', N'Users/amit/ram1.JPG', N'amit@gmail.com', N'9503351933', N'What is your favourite color', N'black', N'Alumni', N'Laksh IT Solution', N'CEO', N'.Net')
INSERT [dbo].[UserMaster] ([id], [UserID], [Pwd], [Name], [Address], [City], [College], [Branch], [Year], [Gender], [BirthDate], [PhotoFile], [EmailID], [ContactNo], [que], [ans], [usertype], [company], [post], [tech]) VALUES (2, N'aditi', N'a123', N'Aditi Patil', N'Ravi Nagar', N'Akola', N'SGGIS', N'Computer', N'3', N'Female', N'Feb  1 1995 12:00AM', N'Users/aditi/p_2.jpg', N'aditi@gmail.com', N'78451255', N'What is your pet name?', N'jack', N'Student', NULL, NULL, NULL)
INSERT [dbo].[UserMaster] ([id], [UserID], [Pwd], [Name], [Address], [City], [College], [Branch], [Year], [Gender], [BirthDate], [PhotoFile], [EmailID], [ContactNo], [que], [ans], [usertype], [company], [post], [tech]) VALUES (3, N'varsha', N'v123', N'Varsha Patel', N'Kakade Pura', N'Chandur Bazar', N'MJF College Amaravati', N'Computer', N'3', N'Female', N'Jan  1 1995 12:00AM', N'Users/varsha/Picture4.jpg', N'varshapatel@gmail.com', N'7845125566', N'What is your favourite color', N'black', N'Student', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
ALTER TABLE [dbo].[Post] ADD  CONSTRAINT [DF_Post_vcount]  DEFAULT ((0)) FOR [vcount]
GO
